body {
  margin: 0;
  font-family: "Segoe UI Semibold";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container { 
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background-color: #00cec9;
  height: 35px;
  font-size: 14px;
}

.header-left {
  float: left;
}

.header-left a:hover {
  background-color: rgba(75, 101, 132,1.0);
}

.header-left a {
  transition: all 0.4s;
  float: left;
  line-height: 35px;
  padding: 0px 15px;
  color: white;
  display: block;
}

.header-right {
  float: right;
}

.header-right a {
  transition: all 0.4s;
  float: right;
  line-height: 35px;
  padding: 0px 15px;
  color: white;
  display: block;
}

.fa {
  margin-right: 5px;
}

.logo {
  width: 600px;
  margin: 5.5px 0px;
  float: left;
}

.first {
  height: 380px;
}

.happy {
  font-size: 70px;
  padding-top: 100px;
}

.tour {
  font-size: 25px;
}

.firstdetail {
  float: left;
}

.btn {
  color: black;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.4s;
}

.btn:hover {
  background-color: rgba(75, 101, 132,1.0);
}

.contact {
  background-color: #00cec9;
  color: white;
  padding: 1px 5px;
  cursor: pointer;
}

.third {
  height: 700px;
  background-color: rgba(1, 163, 164,0.8);
  padding: 5px 0px;
  color: white;
}

.inspiration {
  border-bottom: 1px solid;
  padding-bottom: 7px;
  font-size: 25px;
  margin-bottom: 30px;
}

.diagram1 {
  float: left;
  margin-left: 100px;
}

.diagram2 {
  float: left;
  margin-left: 25px;
}

.diagram11 {
  margin-top: 25px;
  float: left;
  margin-left: 100px;
}

.diagram22 {
  margin-top: 25px;
  float: left;
  margin-left: 25px;
}